/* Basic styling for header */
/* Set the background color of the body */
body {
    background-color: #180e2e;
}




.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Style for the navigation links */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

/* Hide navigation links on mobile */
@media screen and (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        z-index: 1;
    }

    .nav.active {
        display: flex;
    }

    .nav li {
        margin: 10px 0;
    }
}
