/* Basic styling for header */
/* Set the background color of the body */
body {
    background-color: #180e2e;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
}

/* Style for the navigation links */
.nav{
    margin-right: 150px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-right: 70px;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.mobile-header{
    display: none;
}

.buttons{
    width: 152px;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    height: 50px;
   
}

.buttons-header{
    display: block;
    position: absolute;
    right: 25px; /* Position the button on the right side */
    top: 20px; 
}

.close{
    display: none;
}

.revolution{
   /* Igniting a Revolution in HR Innovation */
        position: absolute;
        left: calc(50% - 700px/2 + 200px);
        font-family: 'Times';
        font-style: italic;
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        color: #FFFFFF;
}

.line{
    position: absolute;
    width: 253px;
    height: 11.04px;
    left: 1000px;
    top: 170px;
}


.title{
    display: flex;
    position: absolute;
    width: 597px;
    height: 98px;
    left: 128px;
    top: 200px;
    
}

.title h2{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 98px;
    color: white;
}

.hack{
    top: 250px;
}

.one {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 98px;
    color: #d434fe
}

.globe{
    position: absolute;
    top: 0;
    left: 250px;
}

.fire{
    position: absolute;
    top: 50px;
    left: 320px;
}

.fire:last-child{
    top: 40px
}

.text{
    position: absolute;
    top: 370px;
    left: 128px;
    color: white;
}

.reg-button{
    position: absolute;
    top: 450px;
    left: 128px;
}


.timer{
    display: flex;
    position: absolute;
    top: 500px;
    left: 128px;
    color: white;
    font-size: 20px;
}

.logo{
 margin-left: 80px;
}

.boy-tech{
    position: absolute;
    top: 200px;
    left: 700px;
    background-image: url('boy-bg.svg');
}

.tech{
    /* Title */



/* getlinked Tech */

position: absolute;
width: 597px;
height: 98px;
left: 128px;
top: 340px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 98px;

color: #FFFFFF;



/* Hackathon 1.0 */

position: absolute;
width: 569px;
height: 98px;
left: 131px;
top: 431px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 98px;

color: #FFFFFF;



/* 1f4a5 */

position: absolute;
width: 58px;
height: 58px;
left: 792px;
top: 454px;

background: url(1f4a5.png);


/* chain-9365116-7621444 */

position: absolute;
width: 86px;
height: 86px;
left: 706px;
top: 440px;

background: url(chain-9365116-7621444.png);


/* Creative 1 */

position: absolute;
width: 53px;
height: 73px;
left: 644px;
top: 293px;

background: url(Creative);

}

/* Hide navigation links on mobile */
@media screen and (max-width: 768px) {
    .mobile-header{
        display: block;
    }
   
    .header-m{
        display: none;
        width: fit-content;
        height: fit-content;
        background-color: #180e2e;
        align-items: center;
        justify-content: center;

        .close{
            display: block;
            margin-left: 300px;
        }
        .nav ul{
            display: block;
          
        }
        .nav ul li{
            margin-top: 10px;
        }
    }

    .header-m.active {
        display: block;
    }
    .buttons{
        width: auto;
        height: auto;
        font-size: small;
        margin-left: 200px;
        margin-top: 20px;
    }
}


