/* Basic styling for header */
/* Set the background color of the body */
body {
    background-color: #180e2e;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
}

/* Style for the navigation links */
.nav{
    margin-right: 150px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-right: 70px;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.mobile-header{
    display: none;
}

.buttons{
    width: 152px;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    height: 50px;
   
}

.buttons-header{
    display: block;
    position: absolute;
    right: 25px; /* Position the button on the right side */
    top: 20px; 
}

.close{
    display: none;
}

.revolution{
   /* Igniting a Revolution in HR Innovation */
        position: absolute;
        left: calc(50% - 700px/2 + 200px);
        font-family: 'Times';
        font-style: italic;
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        color: #FFFFFF;
}

.line{
    position: absolute;
    width: 253px;
    height: 11.04px;
    left: 1000px;
    top: 170px;
}


.title{
    display: flex;
    position: absolute;
    width: 597px;
    height: 98px;
    left: 128px;
    top: 200px;
    
}

.title h2{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 98px;
    color: white;
}

.hack{
    top: 250px;
}

.one {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 98px;
    color: #d434fe
}

.globe{
    position: absolute;
    top: 0;
    left: 250px;
}

.fire{
    position: absolute;
    top: 50px;
    left: 320px;
}

.fire:last-child{
    top: 40px
}

.text{
    position: absolute;
    top: 370px;
    left: 128px;
    color: white;
}

.reg-button{
    position: absolute;
    top: 450px;
    left: 128px;
}


.timer{
    display: flex;
    position: absolute;
    top: 500px;
    left: 128px;
    color: white;
    width: 285px;
    height: 85px;
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 133%;

}

.time{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 50%;
    position: relative;
    left: -15px;
    top: -5px;
}

.globe-tech{
    display: flex;
    position: absolute;
    top: 700px;
    left: 220px;
}

.globe-text h2 {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #FFFFFF;
    
}

.globe-text p{
    position: relative;
    top: -80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    width: 535px;
    height: 165px;
}

.globe-text span{
    color: #d434fe;
}

.globe-text img{
    position: relative;
    top: -100px;
    left: 400px;

}

.tech-globe{
    position: relative;
    left: -100px;
}

.logo{
    margin-left: 80px;
}

.boy-tech {
    position: absolute;
    top: 200px;
    left: 150px;
    display: flex;
}

.ball {
    position: absolute;
    left: 500px;
}

.boy{
    position: absolute;
    left: 500px;
}

.girl-tech{
    position: absolute;
    top: 1300px;
    left: 128px;
    color: white;
    display: flex;
}

.girl-tech h2{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #FFFFFF;
}

.girl-tech img{
    position: relative;
    top: 50px;
    left: 300px;
}

.girl-pic{
    position: relative;
    top: -100px;
    left: -300px;
}


.girl-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
}

.girl-text span {
    color: #d434fe;
}

.judging{
    position: absolute;
    top: 2200px;
    left: 130px;
    display: flex;
}

.judges-text{
    position: relative;
    top: -200px;
}

.judges-text h2{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #FFFFFF;
}

.judges-text span{
    color:  #d434fe;
}

/* Hide navigation links on mobile */
@media screen and (max-width: 768px) {
    .mobile-header{
        display: block;
    }
   
    .header-m{
        display: none;
        width: fit-content;
        height: fit-content;
        background-color: #180e2e;
        align-items: center;
        justify-content: center;

        .close{
            display: block;
            margin-left: 300px;
        }
        .nav ul{
            display: block;
          
        }
        .nav ul li{
            margin-top: 10px;
        }
    }

    .header-m.active {
        display: block;
    }
    .buttons{
        width: auto;
        height: auto;
        font-size: small;
        margin-left: 200px;
        margin-top: 20px;
    }
}


